html,
body,
#root,
main {
  height: 100%;
}

main.dark {
  background: #555;
  color: #eee;

  header {
    nav {
      a {
        color: #eee;
      }
    }
  }
}

header {
  nav {
    a {
      text-decoration: none;
      color: #000;

      &.active {
        text-decoration: underline;
      }
    }
  }
}