* {
  font-family: sans-serif;
}

/* Global Classes */
.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Custom Styles */
header {
  padding: 0 3%;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 3%;
}

footer {
  padding: 35px 3%;
}