/* Global Classes */
.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Custom Styles */
nav a {
  color: #000;
  margin: 0 8px;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

form {
  width: 450px;
  display: flex;
  flex-direction: column;
}

form > * {
  padding: 5px 10px;
  margin-bottom: 8px;
}

.auth-toggle-wrap {
  display: flex;
  align-items: center;
}

form .toggle-bar {
  width: 75px;
  height: 28px;
  border-radius: 30px;
  background: #ccc;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
}

form .toggle-switch {
  position: absolute;
  content: '';
  top: 2px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #999;
  transition: left .3s;
}

form .toggle-switch.toggle {
  left: 47px;
}